<template>
  <div id="cosmic_page_item">
    <div class="container" v-if="buletin">
      <div class="row">
        <div class="col-md-8 main-feature-detail-article">
          <nav class="nav-breadcrumb-article" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Beranda</li>
              <li class="breadcrumb-item">Artikel</li>
              <li class="breadcrumb-item active" aria-current="page">
                <p>{{ buletin?.title }}</p>
              </li>
            </ol>
          </nav>
          <h2 class="title-article">{{ buletin?.title }}</h2>
          <h4 class="date-article">{{ buletin?.date_publish }}</h4>
          <img class="img-fluid feature-img-article" :src="imageUrl + buletin?.image?.data?.attributes?.url" />

          <div class="main-detail-article">
            <p class="content-artcile">
              {{ buletin?.body }}
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="sidebar-article">
            <h4 class="title-sidebar">Artikel Lainnya</h4>
            <div class="content-related-sidebar" v-for="(item, index) in posts" :key="index">
              <img class="img-fluid" :src="imageUrl + item.attributes?.thumbnail?.data?.attributes.url" />
              <h5>{{ item.attributes.title }}</h5>
              <p>{{ item.attributes.body.substr(0, 62) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="cosmic_page_item">

          <div class="container" v-if="buletin">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Buletin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Buletin Edisi 6</li>
              </ol>
            </nav>
            <h1>Edisi {{ buletin.Edisi }}: {{ buletin.title }}</h1>
            <p>{{ buletin.Date }}</p> -->
  <!-- {{ this.buletin }} -->
  <!-- </div>
              <div class="main">
                <section class="iframecontainer is-hidden-mobile">
                  <iframe class="responsive-iframe" seamless="seamless" :src="buletin.Embed" scrolling="no" frameborder="0"
                  allowtransparency="true" allowfullscreen="true"></iframe>
                </section> -->
  <!-- <section class="container is-hidden-tablet is-hidden-desktop is-hidden-widescreen">
                  <iframe width="100%" height="500px" seamless="seamless" :src="buletin.Embed"  scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
                </section> -->
  <!-- </div>
                </div> -->
</template>
<script>
export default {
  name: 'singleBuletin',
  async fetch() {
    Promise.all([
      await this.getSingleBuletin(),
      // await this.getRelatedPosts(),
    ])
  },
  // delay for fetching
  // fetchDelay: 1000,
  head() {
    return {
      //   title: this.buletin.title,
    }
  },
  data() {
    return {
      buletin: [],
      imageUrl: process.env.IMAGE_URL,
      posts: [],
    }
  },
  methods: {
    async getSingleBuletin() {
      const data = this.$axios.get(
        process.env.API_URL + `/buletins?filters[slug][$eq]=${this.$route.params.slug}&populate=*`,
        {
          headers: {
            Authorization: `Bearer ${process.env.API_TOKEN}`,
          }
        }
      )
      const result = await data
      this.buletin = result.data.data[0].attributes
      this.getRelatedPosts(result.data.data[0].attributes.kategori_buletin.data.id, result.data.data[0].id)
    },
    async getRelatedPosts(id, postId) {
      const data = this.$axios.get(process.env.API_URL + `/buletins?populate=*&filters[kategori_buletin][id][$eq]=${id}`, {
        headers: {
          Authorization: `Bearer ${process.env.API_TOKEN}`,
        }
      });
      const result = await data;
      this.posts = result.data.data.filter((item) => item.id != postId);
    },
  },
}
</script>

<style>
.iframecontainer {
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto 0;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
