<template>
  <div id="cosmic_page">
 
  <!-- <section class="cosmic_pageheader text-white py-5 shadow">
        <div class="container space-lg">
          <div class="row text-center">
            <div class="col">
              <h3 class="h1 pb-4">Buletin Cosmic Marcom BRI</h3>
            </div>
          </div>
        </div>
      </section> -->


    <div class="container">
      <!-- <div class="cosmic_pageheader pb-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Beranda</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Buletin</a></li>
        </ol>
      </nav>
      </div> -->
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h2>Telusuri Semua Edisi</h2>
        </div>
      </div>
    <div class="main">
  <div class="d-flex flex-wrap">
    <div class="col-3 cosmic_card mb-5" v-for="buletin in buletins" :key="buletin.id">
  <nuxt-link :to="`buletin/` + buletin.attributes.slug">
<div class="card" style="width: 18rem;">
        <img
        :src="`https://cmscosmic.leveratedev.com` + buletin.attributes.Cover.data.attributes.url"
        :alt="buletin.attributes.Title"
        class="card-img-top"
        >
  <div class="card-body">
    <h5 class="card-title">{{ buletin.attributes.title }}</h5>
    <p class="card-text">{{ buletin.attributes.Date }}</p>
    <!-- <nuxt-link :to="`buletin/` + buletin.attributes.slug" class="btn btn-primary">Baca Edisi Ini</nuxt-link> -->
  </div>
</div>


  </nuxt-link>
    </div>
  </div>
</div>
    <!-- {{ buletins }} -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      buletins: [],
    }
  },
  async fetch() {
    await this.getBuletins()
  }, 
  methods: {
    async getBuletins() {
        const data = this.$axios.$get(
          `/buletins?sort[0]=Date&populate=Cover`
        )
        const result = await data
        result.data.forEach((buletin) => {
          this.buletins.push(buletin)
        })
      },
  }
}
</script>

<style>

</style>