<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'singleBuletin',
  async fetch() {
    await this.getSingleBuletin()
  },
  // delay for fetching
  // fetchDelay: 1000,
  head() {
    return {
    //   title: this.buletin.title,
    }
  },
  data() {
    return {
      buletin: [],
    }
  },
  methods: {
    async getSingleBuletin() {
      const data = this.$axios.get(
        `/buletins/?filters[slug][$eq]=${this.$route.params.slug}`
      )
      const result = await data
      this.buletin = result.data.data[0].attributes
    },
  },
}
</script>

<style>

</style>