<template>
  <div id="cosmic_page">

      <section class="cosmic_pageheader text-white py-5 shadow">
        <div class="container space-lg">
          <div class="row text-center">
            <div class="col">
              <h3 class="h1 pb-4">Featured Content</h3>
            </div>
          </div>
        </div>
      </section>

  </div>
</template>

<script>
export default {
  data() {
    return {
      buletins: [],
    }
  },
  async fetch() {
    await this.getBuletins()
  }, 
  methods: {
    async getBuletins() {
        const data = this.$axios.$get(
          `/buletins?sort[0]=Date&populate=Cover`
        )
        const result = await data
        result.data.forEach((buletin) => {
          this.buletins.push(buletin)
        })
      },
  }
}
</script>

<style>

</style>