<!-- <template>
  <div v-if="posts"> -->
    <!-- {{ this.posts }} -->

    <!-- <div id="carouselCosmic" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div v-for="(post, id) in posts" :key="post.id" :class="id === 0 ? 'carousel-item active' : 'carousel-item'">
          <div class="row">
            <div class="col-6">
              <div class="caption">
                <h5>{{ post.attributes.title }}</h5>
                <p>{{ post.attributes.Sub_Title }}</p>
                <p class="pt-3"><nuxt-link to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal"
                    class="btn cosmic_btn btn-lg" role="button" aria-pressed="true">Baca Artikel</nuxt-link></p>
              </div>

            </div>
            <div class="col-6"><img :src="`https://cmscosmic.leveratedev.com` + post.attributes.Cover.data.attributes.url"
                style="width: 600px; height: 338px; object-fit: cover;border-radius: 15px;" alt="Cosmic Marcom"></div>

          </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCosmic" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCosmic" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</template> -->
<template>
  <div class="container-fluid">

    <div id="carouselCosmic" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="0" class="active" aria-current="false"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCosmic" data-bs-slide-to="2" aria-label="Slide 3"></button>

      </div>
      <div class="carousel-inner">
        <div class='carousel-item active'>
          <div class="row" >

            <div class="col-md-6 hidden-desktop"><img src="~/static/content/img/01.jpg" class="mw-100" alt="Cosmic Marcom">
            </div>
            <div class="col-md-6 col-sm-12 v-center">
              <div class="caption cosmic-text-truncate">
                <h5 class="fs-3 ">QRIS: ANAK BARU MASA DEPAN TEKNOLOGI KEUANGAN INDONESIA</h5>
                <p>Quick Response Code Indonesia Standard atau QRIS yang diluncurkan Bank Indonesia dan Asosiasi Sistem
                  Pembayaran Indonesia untuk mengintegrasikan seluruh metode pembayaran non-tunai di Indonesia.</p>
                <p class="pt-3"><nuxt-link to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal" class="btn cosmic_btn "
                    role="button" aria-pressed="true">Baca Artikel</nuxt-link></p>
              </div>

            </div>
            <div class="col-md-6 hidden-mobile"><img src="~/static/content/img/01.jpg" class="mw-100" alt="Cosmic Marcom">
            </div>

          </div>

        </div>
        <div class='carousel-item'>
          <div class="row" style="height: 300px;">

            <div class="col-md-6 col-sm-12 hidden-desktop"><img src="~/static/content/img/02.jpg" class="mw-100" alt="Cosmic Marcom">
            </div>

            <div class="col-md-6 col-sm-12 v-center">
              <div class="caption cosmic-text-truncate">
                <h5 class="fs-3 ">QRIS: ANAK BARU MASA DEPAN TEKNOLOGI KEUANGAN INDONESIA</h5>
                <p>Quick Response Code Indonesia Standard atau QRIS yang diluncurkan Bank Indonesia dan Asosiasi Sistem
                  Pembayaran Indonesia untuk mengintegrasikan seluruh metode pembayaran non-tunai di Indonesia.</p>
                <p class="pt-3"><nuxt-link to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal" class="btn cosmic_btn "
                    role="button" aria-pressed="true">Baca Artikel</nuxt-link></p>
              </div>

            </div>
            <div class="col-md-6 col-sm-12 hidden-mobile"><img src="~/static/content/img/02.jpg" class="mw-100" alt="Cosmic Marcom">
            </div>

          </div>
        </div>
        <div class='carousel-item '>
          <div class="row" style="height: 300px;">

            <div class="col-md-6 col-sm-12 hidden-desktop"><img src="~/static/content/img/03.jpg" class="mw-100" alt="Cosmic Marcom">
            </div>

            <div class="col-md-6 col-sm-12 v-center ">
              <div class="caption cosmic-text-truncate ">
                <h5 class="fs-3 ">QRIS: ANAK BARU MASA DEPAN TEKNOLOGI KEUANGAN INDONESIA</h5>
                <p>Quick Response Code Indonesia Standard atau QRIS yang diluncurkan Bank Indonesia dan Asosiasi Sistem
                  Pembayaran Indonesia untuk mengintegrasikan seluruh metode pembayaran non-tunai di Indonesia.</p>
                <p class="pt-3"><nuxt-link to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal" class="btn cosmic_btn "
                    role="button" aria-pressed="true">Baca Artikel</nuxt-link></p>
              </div>

            </div>
            <div class="col-md-6 col-sm-12 hidden-mobile"><img src="~/static/content/img/03.jpg" class="mw-100" alt="Cosmic Marcom">
            </div>
          </div>
        </div>


      </div>
      <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselCosmic"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon d-none d-lg-block" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-none d-lg-block " type="button" data-bs-target="#carouselCosmic"
        data-bs-slide="next">
        <span class="carousel-control-next-icon d-none d-lg-block" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
</template>

<!-- <script>
export default {
  data() {
    return {
      posts: [],
    }
  },
  async fetch() {
    await this.getPosts()
  },
  methods: {
    async getPosts() {
      const data = this.$axios.$get(
        `/posts?populate=Cover&filters[Featured][$eq]=true`
      )
      const result = await data
      result.data.forEach((post) => {
        this.posts.push(post)
      })
    },
  }
}
</script> -->

<style></style>
