<template>
  <section class="cosmic_footer text-white py-5">
        <div class="container space-lg">
          <div class="row text-center">
            <div class="col">
              <h3 class="h1 pb-4">Start building feature-rich websites</h3>
              <a href="https://themes.getbootstrap.com/product/wingman-landing-page-app-template" class="btn btn-lg btn-light">Purchase Now</a>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
</template>

<script>
export default {

}
</script>

<style>

</style>