<template>
  <section id="cosmic_dibaca" class="bg-light text-black pb-5">
    <div class="container">
      <div class="row text-black mb-1 pt-5 pb-3">
        <div class="col">

        </div>
      </div>
      <div class="row g-3 g-md-5">
        <div class="col-md-8 col-sm-12 ">
          <h3 class="h2">Market Trend</h3>
          <div class="row market-tred-container"
            style="background-color: #EAF8FF; border-radius: 30px;filter: drop-shadow(0 3px 4px rgba(0,0,0,0.15));">
            <div class="col-md-6 col-sm-12">
              <img src="~/static/content/img/04.jpg" style="object-fit: cover;" class="img-fluid" />
            </div>
            <div class="col-md-6 col-sm-12">
              <h5 class="pt-3" style="color: #143B76;">Bank Indonesia Amanatkan Pentingnya Inklusi Keuangan</h5>
              <p>Kesadaran kesehatan mental di Indonesia dari tahun ke tahun semakin membaik. Namun kesehatan mental di
                Indonesia masih terganjal dengan stigma yang beredar di masyarakat.</p>
              <nuxt-link to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal" class="btn btn-sm-md btn-lg"
                style="background-color: #143B76; color: white; border-radius: 100px;">Read More
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-5">
          <h3 class="h2">Terbanyak Dibaca</h3>
          <div class="row py-5 px-3 most_read"
            style="background-color: #EAF8FF; border-radius: 30px;filter: drop-shadow(0 3px 4px rgba(0,0,0,0.15));">
            <ol>
              <li v-for="(item, index) in posts" :key="index">
                <h5 class="pb-0">{{ item.attributes.title }}</h5>
                <svg class="eye-icon" xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 512.000000 512.000000"
                  preserveAspectRatio="xMidYMid meet">
                  <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path
                      d="M2287 4140 c-790 -90 -1489 -512 -1922 -1161 -235 -351 -235 -486 -1 -837 415 -620 1074 -1036 1825 -1149 163 -25 590 -25 745 0 776 124 1416 532 1836 1172 122 186 160 280 160 395 0 116 -45 223 -174 418 -414 620 -1055 1025 -1812 1147 -116 19 -537 28 -657 15z m618 -315 c263 -42 489 -115 723 -235 378 -192 712 -505 934 -871 57 -94 63 -109 63 -159 0 -49 -6 -65 -54 -145 -116 -192 -224 -328 -392 -490 -354 -342 -780 -552 -1284 -632 -139 -22 -506 -25 -640 -5 -546 82 -1002 313 -1375 698 -131 135 -231 264 -322 415 -57 94 -63 109 -63 159 0 50 6 65 63 159 174 287 433 558 712 743 286 190 655 327 985 367 50 6 104 13 120 15 67 9 435 -4 530 -19z" />
                    <path
                      d="M2381 3465 c-102 -23 -160 -44 -251 -92 -218 -113 -381 -313 -456 -558 -26 -83 -28 -103 -28 -255 0 -152 2 -172 28 -255 97 -317 329 -544 652 -637 68 -20 101 -23 239 -22 144 0 169 3 248 27 312 95 538 321 634 634 25 81 27 102 27 253 0 152 -2 172 -28 255 -94 308 -326 539 -631 631 -112 33 -329 43 -434 19z m352 -309 c27 -9 79 -30 115 -48 92 -45 215 -168 260 -260 56 -115 67 -161 66 -293 0 -109 -3 -127 -31 -201 -69 -184 -196 -310 -376 -376 -188 -68 -396 -40 -562 77 -113 80 -179 167 -227 300 -58 156 -47 325 28 482 53 107 168 223 274 274 66 32 94 41 185 63 38 9 220 -3 268 -18z" />
                  </g>
                </svg>
                <span class="eye-icon">1.2K</span>
              </li>
            </ol>
          </div>
          <!-- <nuxt-link class="item" to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal">
            <img src="~/static/content/img/06.jpg" style="width: 600px; height: 250px; object-fit: cover;" class="img-fluid"/>
            <h5 class="pt-3">Kita Geser ke Simpedes dulu, Bestie!</h5>
            <p>Read more</p>
            </nuxt-link>             -->
        </div>

      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'HomeMostViewed',
  async fetch() {
    Promise.all([
      await this.getMostViewedPosts(),
    ])
  },
  data() {
    return {
      posts: [],
      imageUrl: process.env.IMAGE_URL,
      category: [],
    }
  },
  methods: {
    async getMostViewedPosts() {
      const data = this.$axios.get(process.env.API_URL + `/buletins?populate=*&`, {
        headers: {
          Authorization: `Bearer ${process.env.API_TOKEN}`,
        }
      });
      const result = await data;
      this.posts = result.data.data;
    },
    redirectTo(slug) {
      this.$router.push(`/buletin/${slug}`);
    }
  }
}
</script>

<style></style>
