<template>
  <section id="cosmic_highlight" class="bg-light text-black pb-5">
    <div class="container">
      <div class="row text-black mb-1 pb-3">
        <div class="col">
          <h3 class="h2 font-weight-bold">Highlight</h3>
        </div>
      </div>
      <div class="row g-3"
        style="padding: 36px; background-color: #EAF8FF; border-radius: 30px;filter: drop-shadow(0 3px 4px rgba(0,0,0,0.15));">
        <div class="col-lg-4 col-sm-12 highlight-card" v-for="(item, index) in posts" :key="index">
          <h4 class="fs-4 font-weight-bold">{{ item?.attributes?.kategori_buletin?.data.attributes?.title }}</h4>
          <img :src="imageUrl + item?.attributes?.thumbnail?.data?.attributes?.url" style="object-fit: cover;"
            class="img-fluid mx-auto d-block" />
          <h5 class="pt-3 ">{{ item.attributes.title }}</h5>
          <nuxt-link :to="'/buletin/' + item.attributes.slug" class="btn mb-3 mb-md-0 px-5  "
            style="background-color: #143B76; color: white; border-radius: 100px;">Read more
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'HomeHighlight',
  async fetch() {
    Promise.all([
      await this.highlightPosts(),
    ])
  },
  data() {
    return {
      posts: [],
      imageUrl: process.env.IMAGE_URL,
      category: [],
    }
  },
  methods: {
    async highlightPosts() {
      const data = this.$axios.get(process.env.API_URL + `/buletins?populate=*&filters[feature][$eq]=true`, {
        headers: {
          Authorization: `Bearer ${process.env.API_TOKEN}`,
        }
      });
      const result = await data;
      this.posts = result.data.data;
    },
    redirectTo(slug) {
      this.$router.push(`/buletin/${slug}`);
    }
  }
}
</script>

<style></style>
