<template>
  <section id="cosmic_quiz" class="bg-light text-black pb-5">
    <div class="container">
      <div class="row text-black mb-1 pt-5 pb-1">
        <div class="col">
          <h3 class="h2">Mini Quiz</h3>
        </div>
      </div>

      <div class="col-12 quiz_wrapper">
        <div class="row">
          <div class="col-6 v-center">
            <h2 class="">Mainkan game berikut untuk mengasah pengetahuanmu!</h2>
          </div>
          <div class="col-6 v-center">
            <nuxt-link to="#">
              <img src="~/static/content/img/01.jpg" class="w-75 h-50  float-end" alt="">
            </nuxt-link>
          </div>
        </div>

      </div>

    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
