<template>
  <section id="cosmic_dibaca" class="bg-light text-black pb-5">
    <div class="container">
      <div class="row text-black mb-1 pt-5 pb-3">
        <div class="col">
          <h3 class="h1">Buletin Edisi Terbaru</h3>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-4">
            <nuxt-link class="item" to="/buletin/mental-sehat-kerja-lancar-hasil-maksimal">
            <img src="~/static/content/img/cosmic6.jpg" class="img-fluid"/>
            <!-- <h5 class="pt-3">This is title</h5>
            <p>Read more</p> -->
            </nuxt-link>
        </div>
        <div class="col-4">
            <nuxt-link class="item" to="/buletin/dunia-tipu-tipu-gencar-incar-perbankan">
            <img src="~/static/content/img/cosmic5.jpg" class="img-fluid"/>
            <!-- <h5 class="pt-3">This is title</h5>
            <p>Read more</p> -->
            </nuxt-link>
        </div>
            <div class="col-4">
            <nuxt-link class="item" to="/buletin/cosmic-jilid-4">
            <img src="~/static/content/img/cosmic4.jpg" class="img-fluid"/>
            <!-- <h5 class="pt-3">This is title</h5>
            <p>Read more</p> -->
            </nuxt-link>            
        </div>

      </div>
      <div class="row">
        <div class="col text-center">
                  <p class="mt-5"><nuxt-link to="/buletin" class="btn cosmic_btn btn-lg" role="button" aria-pressed="true">Telusuri Semua Edisi</nuxt-link></p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>