/* #153b76 */
/* #8bc8e7 */
/* #feae16 */
body {
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
    font: normal normal 800 Nunito;
    /* font-family: 'Nunito', sans-serif; */
}

#cosmic_header {
    background-color: #0f4e93;
}

.cosmic_navbar {
    background-color: transparent;
    padding: 20px 0;
}

.cosmic_mainnav li a {
    color: #143B76 !important;
    font: normal normal bold 20px/27px Nunito;
}

.cosmic_btn {
    background-color: #feae16;
    color: #143B76;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
}

a.cosmic_btn:hover {
    background-color: #feae16;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
}

.cosmic_navi {
    top: 0;
    width: 100%;
    position: absolute;
    padding: 20px 0;
}

/* #cosmic_homepage {
    padding-bottom: 100px;    
} */
.cosmic_carousel {
    background: url(~/static/hero_bg.jpg) no-repeat center center scroll;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    padding-top: 220px;
    padding-bottom: 120px;


}

.cosmic_carousel .carousel-inner {
    /* min-height: 430px; */
    min-height: 500px;
    /* width: 70%; */
    /* margin: 0 auto 0; */
}

.carousel-indicators {
    margin-bottom: 0px;
}

.cosmic_carousel .caption h5 {
    font: normal normal 800 32px/36px Nunito;
    color: #0f4e93;
    padding-bottom: 00px;
    line-height: 1;
}

.cosmic_carousel .caption p {
    font-size: 15px;
    font-weight: 400;
}

#cosmic_dibaca a.item,
#cosmic_highlight a.item {
    text-decoration: none;
    color: #0f4e93;
}

#cosmic_dibaca .item h5,
#cosmic_highlight .item h5,
#cosmic_quiz .item h5 {
    font-size: 25px;
    font-weight: 700;
}

#cosmic_quiz h2 {
    color: #143B76;
    font: normal normal 900 32px/36px Nunito;
}

img {
    border-radius: 0.3rem;
}

#cosmic_dibaca h3,
#cosmic_highlight h3,
#cosmic_quiz h3 {
    font: normal normal 800 28px/32px Nunito;
    color: #143B76;
}

#cosmic_dibaca h4,
#cosmic_highlight h4,
#cosmic_quiz h4 {

    color: #143B76;
    font-size: 24px;
    font-weight: 700;
}

.most_read li {
    margin-bottom: 10px;
}

#cosmic_dibaca h5,
#cosmic_highlight h5,
#cosmic_quiz h5 {
    color: #143B76;
    font-size: 20px;
    font-weight: 700;
}

.eye-icon {
    width: 20px;
    fill: #143B76;
    font-size: 13px;
}

.section-footer-sitemap {
    text-align: left;
    padding-left: 50px;
}

.title-footer-sitemap {
    text-align: left;
    font-weight: bold;
}

/* .socmed-list {
    height: 25px;

} */

.pic-detail {
    display: inline-flex;
}

.pic-detail p {
    margin-bottom: 0;
    text-align: left;
}

.picture-pic {
    display: flex;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.socmed-list .icon {
    text-decoration: none;
    color: #143B76 !important;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.sitemap-footer {
    padding-left: 0;
}

.sitemap-footer li {
    text-align: left;
    list-style: none;
}

#cosmic_quiz .quiz_wrapper {
    background-color: #8bc8e7;
    padding: 80px 50px;
}

#cosmic_quiz .quiz_wrapper h4 {
    font-size: 30px;
    font-weight: 700;
    color: #0f4e93;
}

.cosmic_button {
    width: 300px;
}

#cosmic_footer .socmed-list a {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

#cosmic_footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

/* #cosmic_footer a .fa {
    width: 32px;
    height: 32px;
} */

#cosmic_footer a i:before {
   font-size: 16px;
}

#cosmic_page {
    padding-top: 180px;
    padding-bottom: 100px;
}

#cosmic_page h2 {
    color: #0f4e93;
    font-size: 35px;
    font-weight: 700;
}
.navbar-cosmic {
    background: #143B76;
}

#cosmic_page_item {
    padding-top: 100px;
    padding-bottom: 50px;
}

.cosmic_card .card-body {
    min-height: 120px;
}

.cosmic_card .card-body h5,
.cosmic_card .card-body p {
    color: #0f4e93;

}

/* #cosmic_page_item .main {
    height: 700px;
} */
.cosmic_pageheader {
    background-color: #0f4e93;
    margin-bottom: 80px;
}

#cosmic_page a {
    text-decoration: none !important;
    color: black;
}

#cosmic_footer {
    background: #143B76;
}

#cosmic_dibaca,
#cosmic_highlight,
#cosmic_quiz,
#cosmic_page,
#cosmic_page_item {
    /* background: url(~/static/content/img/dot-grid.png) repeat fixed; */
    background-color: white;
}

.cosmic_carousel .carousel {
    padding-bottom: 25px;
}
.carousel-control-prev {
    left: -80px;
    width: 5%;
    bottom: 105px;
}

.carousel-control-next {
    right: -80px;
    width: 5%;
    bottom: 105px;
}



.carousel-control-next-icon,
.carousel-control-prev-icon {

    width: 4.5625rem;
    height: 4.5625rem;
}

.v-center {
    display: flex;
    align-items: center;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 1;
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #143B76;
}

.carousel-item img {
    margin-bottom: 15px;
}

@media (min-width: 767px) {
    .hidden-desktop {
        display: none;
    }
}
@media (max-width: 768px) {

    .main-body {
        padding-top: 110px;
    }

    .hidden-mobile {
        display: none;
    }
    .cosmic_carousel {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .navbar-detail-containe .list-group-horizontal {
        flex-direction: column;
    }
    .section-footer-sitemap {
        padding-left: calc(var(--bs-gutter-x) * .5);
        text-align: left;
    }
    .footer-section-logo {
        text-align: left;
        margin-bottom: 25px;
    }
    .footer-logo {
        width: 50%;
    }
    .cosmic_btn {
        font-size: 18px;
        width: 100%;
    }

    .caption {
        margin-left: 0.5rem;
        width: 100%;
    }

    .cosmic-text-truncate {
        width: 100%;
    }

    .cosmic-text-truncate h5 {
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-align: left;
        overflow: hidden;
    }

    .cosmic-text-truncate p {
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .highlight-card {
        display: block;
        justify-content: center;
    }

    #cosmic_quiz h2 {
        color: #143B76;
        font: normal normal 900 20px/24px Nunito;
    }

    .icon {
        font-size: 12px;
        /* padding: 0px 5px 0px 5px; */
    }
}

@media (max-width:414px) {
    .icon {
        font-size: 10px;

    }
}

.fs7 {
    font-size: 0.5rem;
}

/* style singlepage buletin */
.nav-breadcrumb-article li {
    color: #143b76;
    font-size: 18px;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
}

.nav-breadcrumb-article .breadcrumb-item.active {
    color: #143b76;
    font-weight: 800;
    max-width: 400px;
}

.nav-breadcrumb-article .breadcrumb-item.active p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-bottom: 0px;
}

.title-article {
    color: #143b76;
    font-size: 30px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

.date-article {
    color: #143b76;
    font-size: 18px;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
}

.main-section-article {
    margin-top: 100px;
}

.feature-img-article {
    margin-bottom: 20px;
}

/* .main-detail-article {
    margin-bottom: 84px;
} */

.main-detail-article p {
    font-family: "Roboto", sans-serif;
    color: #143b76;
    font-size: 18px;
}

.sidebar-article {
    background-color: #eaf8ff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    padding: 42px 27px;
    margin-bottom: 84px;
}

.title-sidebar {
    color: #143b76;
    font-size: 30px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

.content-related-sidebar h5 {
    margin-top: 10px;
    color: #143b76;
    font-size: 18px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

.content-related-sidebar p {
    color: #143b76;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.content-related-sidebar {
    margin-top: 30px;
}

#cosmic_highlight {
    padding-top: 80px;
}

.highlight-card {
    margin-top: 0px;
}

.market-tred-container {
    padding: 50px;
}

.title-page-header {
    color: #143b76;
    font-size: 30px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

.navbar-detail-container {
    margin-top: 30px;
}
.navbar-detail-container ul {
    list-style: none;
}

.navbar-detail-container ul li {
    margin-right: 25px;;
}
.navbar-detail-container ul li a {
    color: #143b76;
    font-size: 18px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

ul.sidebar-main-menu {
    list-style: none;
    margin-top: 2rem;
}

ul.sidebar-main-menu li {
    margin-bottom: 2rem;
}

ul.sidebar-main-menu li a{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

#offcanvasRight {
    background-color: #143b76;
}