<template>
  <div id="cosmic_page">
    <section class="jumbotron text-center mb-5">
      <div class="container">
        <h1 class="jumbotron-heading title-page-header">{{ category?.attributes?.title }}</h1>
        <p class="lead text-muted">{{ category?.attributes?.description }}</p>
        <p>
          <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
        </p>
      </div>
    </section>

    <div class="album py-5" style="background-color: #EAF8FF;">
      <div class="container">

        <div class="row">
          <div class="col-md-4" v-for="(item, index) in posts" :key="index" @click="redirectTo(item.attributes.slug)">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                :src="'https://cmscosmic.leveratedev.com' + item?.attributes?.thumbnail?.data?.attributes?.url"
                data-holder-rendered="true">
              <div class="card-body">
                <h4>{{ item.attributes.title }}</h4>
                <p class="card-text">{{ item.attributes.Sub_Title }}.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'PostCategory',
  async fetch() {
    Promise.all([
      await this.getCategories(),
      await this.getPosts(),
    ])
  },
  data() {
    return {
      posts: [],
      category: {},
    }
  },
  methods: {
    async getPosts() {
      const data = this.$axios.get(process.env.API_URL + `/buletins?populate=*&filters[kategori_buletin][slug][$eq]=${this.$route.params.slug}`, {
        headers: {
          Authorization: `Bearer ${process.env.API_TOKEN}`,
        }
      });
      const result = await data;
      this.posts = result.data.data;
    },
    async getCategories() {
      const data = this.$axios.get(`${process.env.API_URL}/kategori-buletins?filters[slug][$eq]=${this.$route.params.slug}`, {
        headers: {
          Authorization: `Bearer ${process.env.API_TOKEN}`,
        }
      });
      const response = await data;
      this.category = response.data.data[0]
    },
    redirectTo(slug) {
      this.$router.push(`/buletin/${slug}`);
    }
  }
}
</script>

<style></style>
