<template>
  <div class="main-body">
    <GeneralNavbar />
    <!-- <GeneralHeader /> -->
    <Nuxt />
    <!-- <HomeClosingStatement />     -->
    <GeneralFooter />
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>