<template>
  <div id="cosmic_homepage">
    <div class="cosmic_carousel">
    <div class="container">
      <div class="row">
        <div class="col p-0 pb-5">
          <HomeCarousel />
        </div>
      </div>
    </div>
    </div>
    <HomeHighlight />
    <HomeDibaca />
    <HomeQuiz />
    <!-- <HomeTerbaru /> -->
    <!-- <HomeIntro />
    <HomeAbout />
    <HomeReinforcement />
    <HomeHero />
    <HomeBenefit /> -->
    <!-- <HomeClosingStatement /> -->
  </div>
</template>

<script>
export default {
  // data() {
  //   return {
  //     posts: [],
  //   }
  // },
  // async fetch() {
  //   await this.getPosts()
  // }, 
  // methods: {
  //   async getPosts() {
  //       const data = this.$axios.$get(
  //         `/posts?populate=Cover&filters[Featured][$eq]=true`
  //       )
  //       const result = await data
  //       result.data.forEach((post) => {
  //         this.post.push(post)
  //       })
  //     },
  // }
}
</script>