<template>
  <div id="cosmic_page">

    <section class="cosmic_pageheader text-white py-5 shadow">
      <div class="container space-lg">
        <div class="row text-center">
          <div class="col">
            <h3 class="h1 pb-4">Tentang Cosmic Marcom BRI</h3>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
export default {

}
</script>

<style></style>
