<template>
  <div id="cosmic_footer" class="text-white py-4">
    <div class="container text-center">
      <div class="row row-cols-sm-3 row-cols-lg-4 py-4">
        <div class="col-12 footer-section-logo">
          <img src="~/static/content/img/cosmic-logo.png" class="img-fluid footer-logo">
          <div class="row socmed-list">
            <div class="col-12">
              <a href="#" class="icon">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#" class="icon">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>

                <a href="#" class="icon">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" class="icon">
                  <i class="fab fa-youtube" aria-hidden="true"></i>
                </a>
                <a href="#" class="icon">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                </a>
              </div>
            <!-- <div class="col">
              <a href="#" class="icon">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col">
              <a href="#" class="icon">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col">
              <a href="#" class="icon">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col">

              <a href="#" class="icon">
                <i class="fab fa-youtube" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col">
              <a href="#" class="icon">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-12 section-footer-sitemap">
          <p class="lead title-footer-sitemap">Rubrik</p>
          <ul class="sitemap-footer">
            <li>
              <a href="#">Bisik Bisik Tetangga</a>
            </li>
            <li>
              <a href="#">Informasi dari Pusat</a>
            </li>
            <li>
              <a href="#">Campaign Result</a>
            </li>
          </ul>
        </div>
        <div class="col-12 section-footer-sitemap">
          <p class="lead title-footer-sitemap">Informasi</p>
          <ul class="sitemap-footer">
            <li>
              <a href="#">Kebijakan Privasi</a>
            </li>
            <li>
              <a href="#">Syarat dan Ketentuan</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-12 section-footer-sitemap">
          <p class="fw-bolder lead ">Tim Redaksi Cosmic</p>
          
            <!-- <div class="picture-pic"></div> -->
            <div>
              <p class="mb-0">Marketing Communication Division</p>
              <!-- <p class="mb-0">+62 877-2205-7169</p> -->
              <p class="mb-0">Mpdmarcom@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col py-4">
          <!-- <p><router-link class="has-text-white-bis" to="/">Kebijakan Privasi</router-link> | <router-link class="has-text-white-bis" to="/">Syarat dan Ketentuan</router-link></p> -->
          <p class="has-text-light">Copyright @ 2023 Marketing Communication Division BRI. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
