<template>
  <!-- <div id="cosmic_header" class="shadow">
    <div class="container">
      <header
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-center justify-content-md-between
          py-3
        "
      >
        <a
          href="/"
          class="
            d-flex
            align-items-center
            col-md-3
            mb-2 mb-md-0
            text-dark text-decoration-none
          "
        >
          <img src="~/static/content/img/bri-logo.png" alt="Cosmic Marcom BRI" height="30"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 cosmic_mainnav">
          <li><nuxt-link to="/" class="nav-link px-2">Beranda</nuxt-link></li>
          <li><nuxt-link to="/featured" class="nav-link px-2">Featured</nuxt-link></li>
          <li><nuxt-link to="/buletin" class="nav-link px-2">Buletin</nuxt-link></li>
          <li><nuxt-link to="/tentang" class="nav-link px-2">Tentang Cosmic</nuxt-link></li>
          <li><a href="#" class="nav-link px-2 link-dark">Hubungi Kami</a></li>          
        </ul>

        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">
            Contact Us
          </button>
          <button type="button" class="btn btn-light">Subscribe</button>
        </div>
      </header>
    </div>
  </div> -->

  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Album</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
</template>

<script>
export default {};
</script>

<style>
</style>