<template>
  <!-- <div>
<div class="container-fluid cosmic_navi">
  <div class="row">
    <div class="col-12 text-center">
      <nuxt-link to="/">
        <img src="~/static/content/img/cosmic-logo.png" alt="Cosmic Marcom BRI" height="60" style="padding-top: 5px"/>
      </nuxt-link>
    </div>
  </div>
</div>
</div> -->
  <!-- <nav class="navbar static-top navbar-expand-lg cosmic_navi  bg-body-tertiary">
  <div class="container">

    <nuxt-link to="/">
      <img src="~/static/content/img/cosmic-logo.png" alt="Cosmic Marcom BRI" height="85" style="padding-top: 5px" />
    </nuxt-link>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav nav col-md-9 justify-content-center mb-md-0 cosmic_mainnav me-auto ">
        <li class="nav-item cosmic_navlink ">
          <nuxt-link to="/featured" class="nav-link" href="#">Bisik-bisik Tetangga</nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link to="/buletin" class="nav-link" href="#">Informasi dari Pusat</nuxt-link>
        </li>
        <li class="nav-item ">
          <nuxt-link to="/tentang" class="nav-link " href="#">Campaign Result</nuxt-link>
        </li>

      </ul>

    </div>

  </div>
</nav> -->

  <!-- <div class="collapse text-bg-light" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-12 navbar-detail-container">
        <ul class="list-group list-group-horizontal">
          <li class="cosmic_main_menu_item">
            <nuxt-link to="/category" class="nav-link" href="#">Bisik-bisik Tetangga</nuxt-link>
          </li>
          <li class="cosmic_main_menu_item">
            <nuxt-link to="/category" class="nav-link" href="#">Informasi dari Pusat</nuxt-link>
          </li>
          <li class="cosmic_main_menu_item">
            <nuxt-link to="/category" class="nav-link " href="#">Campaign Result</nuxt-link>
          </li>

      </ul>
      </div>
    </div>
  </div>
</div> -->
  <header data-bs-theme="dark" class="fixed-top">
    <div class="navbar navbar-dark navbar-cosmic sticky-top shadow-sm">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <img src="~/static/content/img/cosmic-logo.png" alt="Cosmic Marcom BRI" height="85" style="padding-top: 5px;" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="sidebar-main-menu">
          <li class="cosmic_main_menu_item" v-for="(item, index) in data" :key="index">
            <nuxt-link :to="'/category/' + item.attributes.slug" class="nav-link" href="#" :key="index">{{
              item.attributes.title }}</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue';
import axios from 'axios';

export default defineComponent({
  name: 'navbar',
  setup() {
    const data = ref([]);

    const getCategories = async () => {
      try {
        const response = await axios.get(`${process.env.API_URL}/kategori-buletins`, {
          headers: {
            Authorization: `Bearer ${process.env.API_TOKEN}`,
          }
        });
        data.value = response.data.data;
      } catch (error) {
        console.error(error);
      }
    };

    onMounted(getCategories);

    return {
      data,
      getCategories,
    };
  },
});
</script>

<style></style>
